force-app/main/driver-assistant/flows/Create_Route_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Failed_Message</name>
        <label>Assign Failed Message</label>
        <locationX>440</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Unfortunatley we were unable to create a Route Event, would you like to speak to a representative? </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Success_Message</name>
        <label>Assign Success Message</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Output_Message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The Route Event was created successful. </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Create Route Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Route Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Route_Event</name>
        <label>Create Route Event</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>RouteEvent_Id</assignRecordIdToReference>
        <connector>
            <targetReference>Get_Route_Event</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Failed_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>FullDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__Latitude__s</field>
            <value>
                <elementReference>Latitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Location__Longitude__s</field>
            <value>
                <elementReference>Longitude</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Route__c</field>
            <value>
                <elementReference>Route_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stop__c</field>
            <value>
                <elementReference>Stop_Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>routeEventType</elementReference>
            </value>
        </inputAssignments>
        <object>Route_Event__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Route_Event</name>
        <label>Get Route Event</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Success_Message</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RouteEvent_Id</elementReference>
            </value>
        </filters>
        <object>Route_Event__c</object>
        <outputReference>Route_Event</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <queriedFields>Route__c</queriedFields>
        <queriedFields>Stop__c</queriedFields>
        <queriedFields>Type__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Route_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>FullDescription</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Description} (Initial request:{!UserRequest})</text>
    </textTemplates>
    <variables>
        <description>Description of this route event from user request</description>
        <name>Description</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Latitude of this Route Event</description>
        <name>Latitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <description>Longitude of this Route Event</description>
        <name>Longitude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>6</scale>
    </variables>
    <variables>
        <description>The message that you would like to display to the user after the action has run.</description>
        <name>Output_Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Route_Event</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Route_Event__c</objectType>
    </variables>
    <variables>
        <description>The Route_Id is an Id for the Route__c record</description>
        <name>Route_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Id of the booking that has just been created.</description>
        <name>RouteEvent_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>routeEventType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Stop Id is an Id for the Stop__c record</description>
        <name>Stop_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Initial user request</description>
        <name>UserRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
